@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-primary: #ff9933;
  --brand-color-secondary: #df6615;
  --font-sans: 'Bricolage Grotesque';
  --font-mono: 'JetBrains Mono';
}

#hero {
  padding-top: 6em;
  padding-left: 1em;
}

.light_mode {
  --background-color: #fffaff;
  --font-color: #1f1f1f;

}

.dark_mode {
  --background-color: #1f1f1f;
  --font-color: #fffaff;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Navbar */
.navbar {
  align-items: center;
  z-index: 1000;
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  border-color: rgba(rgb(71, 68, 68), green, blue, 0.5);
  backdrop-filter: blur(5px);
}

.navlink ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navlink a {
  text-decoration: none;
  margin-right: 1.5em;
  color: var(--font-color);
  display: flex;
  align-items: center;
}

.navlink a:hover {
  color: var(--brand-color-primary);
}

.navlink span {
  padding: 0.2em;
}

.brand-logo {
  padding-left: 1em;
  text-wrap: nowrap;
}

@media (max-width:540px) {
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    padding-bottom: 0.5em;
  }

  .brand-logo {
    display: none;
  }

  .navlink {
    width: 100%;
    font-size: small;
  }

  .navlink ul {
    justify-content: space-between;
  }

  .navlink a {
    flex-direction: column;
    margin-left: 1.5em;
  }
}

/* Navbar */

/* Header */
.header {
  margin-top: 3em;
  padding: 1em;
  display: flex;
  position: fixed;
  width: 100%;
  height: 2em;
  background-color: rgba(rgb(71, 68, 68), green, blue, 0.5);
  backdrop-filter: blur(5px);
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links span {
  padding-right: 0.3em;
}

.social-links li {
  cursor: pointer;
}

.social-links li:hover {
  color: var(--brand-color-primary);

}

.social-links ul {
  display: flex;
  text-decoration: none;
  padding: 1.5em;
  list-style: none;
}

.social-links li {
  margin-left: 1.2em;
}

.theme-icon {
  cursor: pointer;
}

.theme-icon:hover {
  color: var(--brand-color-primary);
}


.alt-brand {
  display: none;
}

@media(max-width:540px) {
  .header {
    margin-top: 0;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    height: 3em;
  }

  .alt-brand {
    display: contents;
    font-size: small;
    text-wrap: nowrap;
  }

  .social-links span {
    padding-right: 0.3em;
  }

  .social-links ul {
    justify-content: end;
    padding-right: 1.5em;
  }
}

/* Header */

/* Editor */
.editor {
  padding-left: 1em;
  display: flex;
}

.editor h3 {
  padding-bottom: 1em;
}

.ace {
  border: solid 2px var(--brand-color-secondary);
  border-radius: 10px;
}

.buttons {
  padding-left: 1em;
}

.btn {
  background-color: var(--brand-color-primary);
  font-family: var(--font-sans);
  padding: 1em;
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 10px;
  font-weight: bold;
  color: var(--font-color);
}

.btn-label {
  font-weight: bold;
  background-color: var(--brand-color-primary);
  padding: 0.6em;
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 10px;
  border: 2px solid black;
}

.btn:hover {
  background-color: var(--brand-color-secondary);
  cursor: pointer;
}

/* Editor */

/* content-box */
.content-box {
  padding-top: 0.5em;
  font-family: var(--font-mono);
  font-size: 20px;
  padding-bottom: 1em;
}

.content-box pre {
  font-size: 20px;
  font-weight: bold;
  width: 75%;
  padding: 1em;
  border: solid 2px var(--brand-color-primary);
  border-radius: 10px;
}

.open {
  padding-top: 6em;
  padding-left: 1em;
  font-family: var(--font-sans);
}

.input-label {
  font-size: medium;
  font-family: var(--font-sans);
  padding-left: 0.3em;
  border: 2px solid var(--brand-color-primary);
  border-radius: 5px;
  height: 40px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.label-box {
  margin-left: 1em;
}

.label-box h3 {
  margin-bottom: -15px;
}

@media (max-width:540px) {
  .content-box pre {
    width: 120%;
  }
}

/* content-box */

/* Input boxes */
.form-input {
  padding-bottom: 1em;
  padding-left: 1em
}

.id-input {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  font-size: 1.2em;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-mono);
  border: 2px solid var(--brand-color-primary);
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.id-input:focus {
  transform: translateY(-7px)
}

/* Input boxes */

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--background-color);
  margin: auto;
  padding: 20px;
  border: 2px solid var(--brand-color-primary);
  border-radius: 20px;
  width: 30%;
  color: var(--font-color);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width:540px) {
  .modal-content {
    width: 80%;
  }
}

/* Modal */

/* image-box */

.image {
  margin-left: 1em;
  margin-top: 1em;
}

.image-box {
  border: 2px solid var(--brand-color-primary);
  border-radius: 10px;
  min-height: 100px;
  width: 75%;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  user-select: none;
  caret-color: transparent;
}

.image-box img {
  height: 100px;
  width: 100px;
}

/* image-box */